Checks: >
  *,
  -llvmlibc-*,
  -fuchsia-*,
  -altera-*,
  -*-avoid-underscore-in-googletest-name,
  -*-avoid-c-arrays,
  -*-braces-around-statements,
  -*-magic-numbers,
  -*-named-parameter,
  -*-pro-bounds-pointer-arithmetic,
  -*-avoid-non-const-global-variables,
  -*-uppercase-literal-suffix,
  -*-redundant-branch-condition,
  -*-no-array-decay,
  -*-array-to-pointer-decay,
  -*-narrowing-conversions,
  -*-namespace-comment,
  -*-namespace-comments,
  -*-return-braced-init-list,
  -*-isolate-declaration,
  -*-unused-parameters,
  -*-uppercase-literal-suffix,
  -*-deprecated-headers,
  -*-reinterpret-cast,
  -*-constant-array-index
