/bin/**
/lib/**
/lib-*/**
/include/**
/build/**
/build-*/**

/.vs/
*.sln
*.vcxproj
*.vcxproj.*

/data/lcd.h
/source/generated/*.cpp
/source/generated/gl/*.h
/tools/OpenGL-Registry/

/doc/
!/tools/vs/laplace.sln
!/tools/vs/laplace.vcxproj
