/bin/**
/lib/**
/include/**
/build/**
/thirdparty/**

/.vs/
*.sln
*.vcxproj
*.vcxproj.*

/data/lcd.h
/source/generated/*.cpp
/source/generated/gl/*.h
/tools/update.sh
/tools/rebuild.sh
